{% if side_menu_sub %}
	<ul class="uk-nav-sub">
	{% for item in side_menu.items %}
		<li class="{{ item.classes | join(' ') }}{% if item.current %} uk-active{% endif %}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "side_menu_sub.twig" with {'side_menu_sub': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
